
* 
{
  padding: 0; 
  margin: 0;
}

body {

    background-color: #A0DCF2;

    font-family: Arial;
    font-size: 16px;
    color: black;

    padding-bottom: 50px;
}


h1 {
    color: #0057A5;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 27px;
    font-family: Istok Web;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: .43px;
    padding: 50px;
  }
  
  h2 {
  font-size: 50px;
  font-family: 'Bookman', 'URW Bookman L', serif;
  padding: 50px;
  }
  
  h3 {
  font-size: 40px;
  font-family: 'Bookman', 'URW Bookman L', serif;
  padding: 50px;
  }
  
  p{
    color: #0057A5;
    text-align: center;
    font-size: 12px;
    font-family: Inter;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.08px;
  }


.sign-container{
    width: 467px;
    height: 728px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100;
    padding-bottom: 50px;
    padding: 50px;
    border-radius: 7px;
    background: #DCF6FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    margin: auto;
    margin-block-start: 70px;
  }


  #sign-in{
        display: flex;
        width: 187px;
        height: 17px;
        flex-direction: column;
        flex-shrink: 0;
        color: #0057A5;
        font-size: 12px;
        font-family: Inter;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 1.08px;
  }

  button{
width: 120px;
height: 35px;
flex-shrink: 0;
background-color: #A0DCF2;
margin: 30px;
  }

  #sign-up-button{
    background-color: #EBB75B;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    margin: 20px;
color: #000;
font-size: 20px;
font-family: Inter;
font-weight: 600;
line-height: 15px;
letter-spacing: 1.8px;
}


label{
  padding-top: 20px;
  align-items: center;
}